@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  /* Font sizes */
    --largetext: 3.5rem;
    --mainheaading: 2.5rem;
    --subheading: 2rem;
    --paragraghtext: 1rem;
    --smalltext: 0.6rem;
    
    /* colors */
    --majorwhite: white;
    --majorblack: black;
    --majorgold: rgb(255, 215, 0);
    --textgold: rgb(248, 226, 49);
    --hovercolor:  rgba(255, 215, 0, 0.85);
    --footerbg: linear-gradient( var(--majorgold), var(--majorblack));
    --brdcolor: 2px solid var(var(--footerbg));
    /* background pictures */
    --herobackground:  url("/assets/svg/dots.svg");
}

